@model PupPals.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyPet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyPet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BestFriend)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BestFriend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.House.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
