@model PupPals.Models.PetViewModels.PetListViewModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Add Pet</a>
</p>

<h2>My Pets</h2>
<table class="table">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Description of Pet</th>
            <th>Notes</th>
            <th>Lives at:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyPets)
        {
        <tr>
            @if (item.Name != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Address)
            </td>
        </tr>
    <tr>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

<h2>Best Friends</h2>
<table class="table">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Description of Pet</th>
            <th>Notes</th>
            <th>Lives at:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BestFriends)
        {
        <tr>
            @if (item.Name != null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))
            </td>
            } else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

            }

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Address)
            </td>
            <td></td>
        </tr>
<tr>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>


</tr>
}
    </tbody>
</table>
