@model PupPals.Models.PetViewModels.PetListViewModel

@{
    ViewData["Title"] = "Index";
}


<h2>My Pets</h2>
<table class="table">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Description of Pet</th>
            <th>Notes</th>
            <th>Lives at:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyPets)
        {
        <tr>
            @if (item.Name != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @if (item.House.IsResidence)
                {
                    <span class="glyphicon glyphicon-home"></span> @Html.DisplayFor(modelItem => item.House.Address)

                }
                else
                {

                     @Html.DisplayFor(modelItem => item.House.Address)

                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Best Friends</h2>
<table class="table">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Description of Pet</th>
            <th>Notes</th>
            <th>Lives at:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BestFriends)
        {
        <tr>
            @if (item.Name != null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))
            </td>
            } else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

            }

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
