@model PupPals.Models.PetViewModels.PetListViewModel

@{
    ViewData["Title"] = "MyPets";
}


<h2>MyPets</h2>

    <div class="flexContainer">
            @foreach (var item in Model.MyPets)
            {
                <div class="card detailCard">
                    @if(item.Photo != null){
                        <img class="card-img-top petImg" src="~/@Html.DisplayFor(model => item.Photo)" alt="item.Type"> <br />
                    }else{
                        <img class="card-img-top pawPrintImg" src="../../images/pawPrint.png"> <br />
                    }
                    <div class="card-body">
                        @if (item.Name != null)
                        {
                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))</h4>
                        }
                        else
                        {

                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Type)</h4>

                        }
                        <p class="card-text"><i>@Html.DisplayFor(modelItem => item.Description)</i></p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Notes)</p>
                        @if (item.House.IsResidence)
                        {
                            <span class="glyphicon glyphicon-home"></span>

                        }
                        <a asp-controller="House" asp-action="Details" asp-route-id="@item.House.Id">@Html.DisplayFor(modelItem => item.House.Address)</a>
                
                    </div>
                    <div class="itemModify">
                        <a asp-controller="Pet" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Pet" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
    </div>

<h2>Best Friends</h2>
    <div class="flexContainer">
            @foreach (var item in Model.BestFriends)
            {
                <div class="card detailCard">
                    @if(item.Photo != null){
                        <img class="card-img-top petImg" src="~/@Html.DisplayFor(model => item.Photo)" alt="item.Type"> <br />
                    }else{
                        <img class="card-img-top pawPrintImg" src="../../images/pawPrint.png"> <br />
                    }
                    <div class="card-body">

                        @if (item.Name != null)
                        {
                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))</h4>
                        }
                        else
                        {

                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Type)</h4>

                        }
                        <p class="card-text"><i>@Html.DisplayFor(modelItem => item.Description)</i></p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Notes)</p>
                        @if (item.House.IsResidence)
                        {
                            <span class="glyphicon glyphicon-home"></span>

                        }
                        @if (item.BestFriend)
                        {
                            <span class="glyphicon glyphicon-star" style="color:darkgoldenrod"></span>
                        }
                        <a asp-controller="House" asp-action="Details" asp-route-id="@item.House.Id">@Html.DisplayFor(modelItem => item.House.Address)</a>
                        
                    </div>
                    <div class="itemModify">
                        <a asp-controller="Pet" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Pet" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
    </div>
