@model PupPals.Models.House

@{
    ViewData["Title"] = "House Information";
}
<div class="houseDetails">
<h3>
    @Html.DisplayFor(modelItem => modelItem.Address) <br />
    @Html.DisplayFor(modelItem => modelItem.City), @Html.DisplayFor(modelItem => modelItem.State) @Html.DisplayFor(modelItem => modelItem.ZipCode)
</h3>

@* if the house is the user's residence, add the house icon before the address *@
@if (Model.IsResidence)
{
    <h5><span class="glyphicon glyphicon-home"></span> This is my house</h5>
}
@* if the house is marked to avoid, add the avoid icon before the address *@
@if (Model.Avoid)
{
    <h5><span class="glyphicon glyphicon-ban-circle" style="color:red"></span> Avoid this house on walks</h5>
}

@if (Model.PetList.Any(p => p.BestFriend))
{
    <h5><span class="glyphicon glyphicon-star" style="color:darkgoldenrod"></span> One of my pet's best friends lives here!</h5>

}


@if(Model.Notes != null)
{
    <p>
        <b>Notes: </b> @Html.DisplayFor(model => model.Notes)
    </p>

}

    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
@if(!Model.IsResidence){
    <text>|</text> <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
}

</div>

<table class="table">
    <thead>
        <tr>
            <th>Pet</th>
            <th>Description</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PetList)
    {
        <tr>
            <td>
                @if(item.Photo != null){
                <img src="~/@Html.DisplayFor(model => item.Photo)" width="200"> <br />
                }
                @if (item.BestFriend)
                {
                    <span class="glyphicon glyphicon-star" style="color:darkgoldenrod"></span>
                }
                 @if (item.Name != null)
                 {
                    <p>@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))</p>
                 }
                 else
                 {

                    @Html.DisplayFor(modelItem => item.Type)

                 }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>

            <td>
                <a asp-controller="Pet" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
                <a asp-controller="Pet" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
        <tr>
            <td>
                <a asp-controller="Pet" asp-action="Create" asp-route-houseId="@Model.Id">Add Pet</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OwnerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-controller="Owner" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
                    <a asp-controller="Owner" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
            <tr>
                <td>
                    <a asp-controller="Owner" asp-action="Create" asp-route-houseId="@Model.Id">Add Owner</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>

