@model PupPals.Models.House

@{
    ViewData["Title"] = "House Information";
}
<div class="houseDetails tealOverlay">
    <h3>
        @Html.DisplayFor(modelItem => modelItem.Address) <br />
        @Html.DisplayFor(modelItem => modelItem.City), @Html.DisplayFor(modelItem => modelItem.State) @Html.DisplayFor(modelItem => modelItem.ZipCode)
    </h3>

    @* if the house is the user's residence, add the house icon before the address *@
    @if (Model.IsResidence)
    {
        <h5><span class="glyphicon glyphicon-home"></span> This is my house</h5>
    }
    @* if the house is marked to avoid, add the avoid icon before the address *@
    @if (Model.Avoid)
    {
        <h5><span class="glyphicon glyphicon-ban-circle" style="color:red"></span> Avoid this house on walks</h5>
    }

    @if (Model.PetList.Any(p => p.BestFriend))
    {
        <h5><span class="glyphicon glyphicon-star" style="color:darkgoldenrod"></span> One of my pet's best friends lives here!</h5>

    }


    @if(Model.Notes != null)
    {
        <p>
            <b>Notes: </b> @Html.DisplayFor(model => model.Notes)
        </p>

    }

        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @if(!Model.IsResidence){
        <text>|</text> <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }

</div>

<div class="petDetails tealOverlay">
    <h2>Pets</h2> <br>
    <a class="btn btn-default" asp-controller="Pet" asp-action="Create" asp-route-houseId="@Model.Id">Add Pet</a>
    <div class="flexContainer">
            @foreach (var item in Model.PetList)
            {
                <div class="card detailCard">
                    @if(item.Photo != null){
                        <img class="card-img-top petImg" src="~/@Html.DisplayFor(model => item.Photo)" alt="item.Type"> <br />
                    }else{
                        <img class="card-img-top pawPrintImg" src="../../images/pawPrint.png"> <br />
                    }
                    <div class="card-body">
                        @if (item.BestFriend)
                        {
                            <span class="glyphicon glyphicon-star" style="color:darkgoldenrod"></span>
                        }
                        @if (item.Name != null)
                        {
                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Type))</h4>
                        }
                        else
                        {

                            <h4 style="display:inline;">@Html.DisplayFor(modelItem => item.Type)</h4>

                        }
                        <p class="card-text"><i>@Html.DisplayFor(modelItem => item.Description)</i></p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Notes)</p>
              
                    </div>
                    <div class="itemModify">
                        <a asp-controller="Pet" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Pet" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
    </div>

</div>

<div class="ownerDetails tealOverlay">
    <h2>Owners</h2> <br>
    <a class="btn btn-default" asp-controller="Owner" asp-action="Create" asp-route-houseId="@Model.Id">Add Owner</a>
    <div class="flexContainer">
        @foreach (var item in Model.OwnerList)
        {
            <div class="card detailCard">

                <div class="card-body">

                    <h4 class="card-text">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h4>
                    @if(item.Phone != null){
                        <p class="card-text"><span class="glyphicon glyphicon-earphone"></span> @Html.DisplayFor(modelItem => item.Phone)</p>
                    }
                    @if(item.Email != null){
                        <p class="card-text"><span class="glyphicon glyphicon-envelope"></span> @Html.DisplayFor(modelItem => item.Email)</p>
                    }
                </div>
                <div class="itemModify">
                    <a asp-controller="Owner" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Owner" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>


