@model IEnumerable<PupPals.Models.House>

@{
    ViewData["Title"] = "House List";
}

<div class="tealOverlay">
<h2>Houses on Map</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Add New House</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Address</th>
            <th> Notes</th>
            <th>Owners </th>
            <th> Pets </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* if the house is the user's residence, add the house icon before the address *@
                @if(item.IsResidence) {
                    <span class="glyphicon glyphicon-home"></span>
                }
                @* if the house is marked to avoid, add the avoid icon before the address *@
                @if (item.Avoid) {
                    <span class="glyphicon glyphicon-ban-circle" style="color:red"></span>
                }

                @if(item.PetList.Any(p => p.BestFriend))
                {
                    <span class="glyphicon glyphicon-star"style="color:darkgoldenrod"></span>

                }

                @Html.DisplayFor(modelItem => item.Address)<br />
                @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) @Html.DisplayFor(modelItem => item.ZipCode)<br />
                <a asp-action="Details" asp-route-id="@item.Id">More Info</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @foreach (var owner in item.OwnerList)
                {

                    @Html.DisplayFor(modelItem => owner.FirstName) <text> </text> @Html.DisplayFor(modelI => owner.LastName) <br />

                }
                <a asp-controller="Owner" asp-action="Create" asp-route-houseId="@item.Id">Add Owner</a>
            </td>
            <td>
                @foreach (var pet in item.PetList)
                {
                   
                        @if (pet.Name != null)
                        {
                            @Html.DisplayFor(modelItem => pet.Name) <text> (</text> @Html.DisplayFor(modelI => pet.Type) <text>)</text><br />
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => pet.Type) <br />

                        }
                 }
                <a asp-controller="Pet" asp-action="Create" asp-route-houseId="@item.Id">Add Pet</a>
            </td>
            @if (!item.IsResidence)
            {
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            }

            </tr>

}
    </tbody>
</table>
</div>